/*This introduces a local font from your server to the website */
@font-face {
  font-family: Figtree;
  src: url(assets/fonts/static/Figtree-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Figtree;
  src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  font-family: "Figtree", sans-serif;
}
section {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px 0 rgb(0, 0, 0);
  display: grid;
  grid-template-rows: 1fr;
  place-items: center;
  margin-bottom: 20px;
}
.img {
  width: 100%;
}
.img img {
  width: 100%;
  border-radius: 20px;
}

.text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 16px;
  font-weight: 500;
}
.text h4 {
  background-color: hsl(47, 88%, 63%);
  border-radius: 5px;
  padding: 5px;
}
h1 {
  width: 100%;
  font-size: 25px;
  font-weight: 800;
}

.pub-date {
  width: 100%;
  font-weight: 500;
  padding: 0.5em 0;
}

.intro {
  font-size: 16px;
  opacity: 0.7;
  padding: 0.7em 0;
}

.avatar-main {
  display: flex;
  align-items: center;
  width: 100%;
}
.avatar-main img {
  width: 10%;
}
.avatar-main h3 {
  width: 90%;
  padding-left: 10px;
}
h3 {
  font-size: 14px;
}
footer {
  font-size: 12px;
  color: hsl(0, 0%, 42%);
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: green;
}
@media (min-width: 401px) {
  .card {
    width: 30%;
    height: 70%;
    min-width: 312px;
    min-height: 440px;
  }
}
@media (max-width: 400px) {
  .card {
    width: 80%;
    max-width: 350px;
  }

  section {
    padding: 18px;
  }

  h1 {
    font-size: 22px;
  }

  .intro {
    font-size: 14px;
    line-height: 1.5;
  }

  .intro br {
    display: none;
  }

  p {
    font-size: 14px;
  }
}
